/*--------------------------- Tab Field ---------------------------*/

.wpmn_settings_page .wpmn_settings_page_nav .nav-tab-wrapper {
    border-color: #eee;
}

.wpmn_settings_page .wpmn_settings_page_nav .nav-tab-wrapper a.nav-tab-active {
    border-color: #7f54b3;
    border-bottom-color: #ffffff;
    color: #000000 !important;
    border-width: 2px 2px 0px 2px !important;
    border-radius: 5px 5px 0px 0px;
    background-color: #ffffff;
}

.wpmn_settings_page .wpmn_settings_page_nav .nav-tab-wrapper {
    border-bottom: 0 !important;
}

.wpmn_settings_page .wpmn_settings_page_nav .nav-tab-wrapper a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-right: 5px;
    outline: none;
    box-shadow: none;
    border-bottom: 2px;
    border-style: solid;
    border-image: initial;
    padding: 10px 20px;
    background-color: #e6e6e6;
    border-width: 0px;
    border-radius: 5px 5px 0 0;
}

.wpmn_settings_page .wpmn_settings_page_content {
    border-width: 0 1px 1px 1px;
    border-color: #eee;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.wpmn_settings_page .wpmn_settings_page_content table tr.heading {
    border-bottom: 1px dashed #eeeeee;
}

.wpmn_settings_page .wpmn_settings_page_content table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: unset;
}

.wpmn_settings_page .wpmn_settings_page_content table tr th,
.wpmn_settings_page .wpmn_settings_page_content table tr td {
    padding: 15px 20px;
    border-bottom: 1px dashed #eee;
}

.wpmn_settings_page .wpmn_settings_page_content table tr th,
.wpmn_settings_page .wpmn_settings_page_content table tr td {
    padding: 15px 20px;
    border-bottom: 1px dashed #eee;
}

.wpmn_settings_page .wpmn_settings_page_content table tr.submit p {
    margin: 0;
    padding: 0;
}

.wpmn_settings_page .wpmn_settings_page_content table .heading th {
    border-left: 2px solid black;
    font-size: 16px;
    padding: 12px 20px;
}

/*--------------------------- Switch Field ---------------------------*/

.wpmn_switch_field {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 44px;
    height: 24px;
}

.wpmn_switch_field input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.wpmn_switch_field label {
    background-color: #e2e8f0;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.wpmn_switch_icon {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 2;
}

.wpmn_switch_icon svg {
    width: 12px;
    height: 12px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.wpmn_switch_icon .wpmn_icon_on {
    display: none;
}

.wpmn_switch_icon .wpmn_icon_off {
    display: block;
    fill: #64748b;
    stroke-width: 2px;
    stroke: #64748b;
}

.wpmn_switch_field input[type="checkbox"]:checked+label {
    background-color: #570fdc;
}

.wpmn_switch_field input[type="checkbox"]:checked+label .wpmn_switch_icon {
    left: 22px;
}

.wpmn_switch_field input[type="checkbox"]:checked+label .wpmn_icon_on {
    display: block;
    fill: #570fdc;
    stroke-width: 2px;
    stroke: #570fdc;
}

.wpmn_switch_field input[type="checkbox"]:checked+label .wpmn_icon_off {
    display: none;
}