/*--------------------------- Radio Field ---------------------------*/

.wpmn-radio-field {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
}

.wpmn-radio-field .wpmn-image-control {
    display: inline-block;
    position: relative;
}

.wpmn-radio-field .wpmn-image-control input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.wpmn-radio-field .wpmn-image-control label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #9E9E9E;
    font-size: smaller;
}

.wpmn-radio-field .wpmn-image-control input[type="radio"]:checked+label {
    border-color: #570FDC;
    background: linear-gradient(to bottom, #ffffff, #f8f5ff);
}

.wpmn-radio-field .wpmn-image-control.wpmn-disabled-option label {
    opacity: 0.6;
    cursor: not-allowed;
    background: #f5f5f5;
}

/*--------------------------- Checkbox Field ---------------------------*/

.wpmn_checkbox_field {
    line-height: 1.7rem;
}

/*--------------------------- Select Field ---------------------------*/

.wpmn_settings_page .wpmn_settings_page_content table .wpmn-select select {
    min-width: 350px;
    padding: 3px 10px;
    border-radius: 2px;
}