/*--------------------------- Radio Field ---------------------------*/

.wpmn_radio_label {
    display: block;
    margin-bottom: 6px;
}

.wpss_slides_wrap table tr th,
.wpss_slides_wrap table tr td {
    border-bottom: 1px dashed #eee;
}

.wpss_slides_wrap table th small {
    display: block;
    font-weight: normal;
    color: #9e9e9e;
}

.wpmn_radio_image_field_has_image .wpmn_image_control {
    display: inline-block;
}

.wpmn_radio_image_field_has_image .wpmn_image_control input {
    display: none;
}

.wpmn_radio_image_field_has_image .wpmn_image_control label {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 30px 30px 0;
    padding: 5px;
    transition: all ease 0.1s;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
}

.wpmn_radio_image_field_has_image .wpmn_image_control label small {
    display: block;
    font-weight: normal;
    color: #6b6b6b;
    text-transform: none;
    font-size: 11px;
    margin-top: 4px;
}

.wpmn_radio_image_field_has_image .wpmn_image_control label img {
    display: block;
    margin-bottom: 3px;
}

.wpmn_radio_image_field_has_image .wpmn_image_control input:checked+label {
    border: 2px solid #570FDC;
    box-shadow: 0 0 5px rgb(0 57 84 / 60%);
}

.wpmn_radio_image_field label.wpmn_form_switch input[type="checkbox"] {
    display: none;
}

.wpmn_radio_image_field--text .wpmn_image_control {
    display: block;
    margin-bottom: 6px;
}

.wpmn_radio_image_field--text .wpmn_image_control label {
    border: none;
    box-shadow: none;
    background: transparent;
    margin: 0;
    padding: 0 0 0 5px;
    text-transform: none;
    font-size: 13px;
    color: #1d2327;
    font-weight: 400;
}

.wpmn_radio_image_field--text .wpmn_image_control small {
    display: block;
    font-size: 12px;
    color: #6b6b6b;
    margin-left: 17px;
}

.wpmn_image_control input[type=radio]:focus {
    border-color: #570FDC !important;
    box-shadow: 0 0 0 1PX #570FDC;
}

.wpmn_image_control input[type=radio]:checked::before {
    background-color: #570FDC !important;
}

/*--------------------------- Checkbox Field ---------------------------*/

.wpmn_checkbox_field {
    line-height: 1.7rem;
}

.wpmn_drag_helper_pill {
    background: #444;
    color: #fff;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    z-index: 160000;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}